body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: linear-gradient(-45deg, #989898, #171717, #171717, #a527bc);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100vh;
}


body {
	
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

hr {
    width: 500px;
}

#title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
    color: whitesmoke;
}

td {
    border: 1px solid black;


}
table {
    width: 60px;
    height: 60px;
    margin-left: 10%;
    border-radius: 7px;
    
}

#keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(36, 36, 36, 0.641);
    border-radius: 10px;
    margin-top: 100px;
    bottom: 60px;
    
    
}


.keyboard-row {
    display: flex;
    margin-bottom: 10px;
}

.key {
    width: 40px;
    height: 40px;
    margin: 5px;
    font-size: 17px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
}
.key:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(24, 24, 24);
}


td.ln {
    text-align:center;
    vertical-align: middle; 
    border: 1px solid #ccc; 
    font-size: 1.2rem; 
    background-color: #f9f9f9; 
    padding: 25px;
    
}
    
table {
    border-collapse: collapse;
    margin: 0 auto; 
}

a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}