<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>WARDLE!</title>
</head>

<body>
    <h1 id="title">Wardle!</h1>
    <hr>
    <br>
    <table id="tab">
        <% for (let max = 0 ; max < tab.length;max++){ console.log(max)
            if (max%5 ===0){%>
                <tr id="ligne">
            <%}%>
                    <td class="ln<%=((tab[max].score !== null)?" "+tab[max].score : "")%><%=((max === i)?" desactive":"")%>"><%=((tab[max].value !== null)?tab[max].value : "")%></td>
                    <%if(max%5 ===4){%></tr><%}%>
        <%}%>
    </table>
    <div id="keyboard">
        <div class="keyboard-row">
            <a class="key" href="/id=A">A</a>
            <a class="key" href="/id=Z">Z</a>
            <a class="key" href="/id=E">E</a>
            <a class="key" href="/id=R">R</a>
            <a class="key" href="/id=T">T</a>
            <a class="key" href="/id=Y">Y</a>
            <a class="key" href="/id=U">U</a>
            <a class="key" href="/id=I">I</a>
            <a class="key" href="/id=O">O</a>
            <a class="key" href="/id=P">P</a>
        </div>
        <div class="keyboard-row">
            <a class="key" href="/id=Q">Q</a>
            <a class="key" href="/id=S">S</a>
            <a class="key" href="/id=D">D</a>
            <a class="key" href="/id=F">F</a>
            <a class="key" href="/id=G">G</a>
            <a class="key" href="/id=H">H</a>
            <a class="key" href="/id=J">J</a>
            <a class="key" href="/id=K">K</a>
            <a class="key" href="/id=L">L</a>
            <a class="key" href="/id=M">M</a>
        </div>
        <div class="keyboard-row">
            <a class="key" href="/id=W">W</a>
            <a class="key" href="/id=X">X</a>
            <a class="key" href="/id=C">C</a>
            <a class="key" href="/id=V">V</a>
            <a class="key" href="/id=B">B</a>
            <a class="key" href="/id=N">N</a>
        </div>
        <div class="keyboard-row">
            <a class="key" href="/etr">↩</a>
            <a class="key" href="/rt"> ⌦</a>
        </div>
    </div>
    </div>
    <script>
        var variable = document.querySelectorAll('.ln');
        variable.forEach(variables => {
        if (variables.classList.contains('valide')   ) {
            variables.style.backgroundColor='rgb(192, 57, 43)';
        }
            });
        variable.forEach(variables => {
            if (variables.classList.contains('invalide')) {
                variables.style.backgroundColor='hsl(147, 50%, 47%)';
            }
        })
        variable.forEach(variables => {
            if (variables.classList.contains('bonneplace')) {
                variables.style.backgroundColor='#9DA500';
            }
        })
        variable.forEach(variables => {
            if (variables.classList.contains('desactive')) {
                variables.style.backgroundColor='#d5d5d5';
            }
        })
    </script>
</body>

</html>